/*
    eCommerce Edinburgh College Project
    -----------------------------------
    Author: Criminus (Anișor Neculai)
    Website: https://crimin.us
    GitHub: https://github.com/criminus
*/

@import 'root.css';
@import 'common.css';
@import 'responsive.css';