<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{sitename}} - Item added</title>
    {% include 'header.twig' %}
</head>
<body>

      {% include 'navigation.twig' %}

      <header class="bg-dark text-white text-center py-5" style="background-image: url('assets/css/images/header.jpg'); background-size: cover; background-position: center;">
        <div class="container">
          <h1 class="display-4">MKTime</h1>
          <p class="lead">Luxury header with a luxury description for a nice website.</p>
          <a href="{{pages.products.url}}" class="btn btn-outline-light btn-lg">Shop now</a>
        </div>
      </header>

      <section class="secret text-center">
        <h1 class="display-4"><iconify-icon inline="true" icon="icon-park-solid:shopping-cart-add"  style="color: black"></iconify-icon> Added to the cart :)</h1>
        <br>
        <div class="secret-block">
            <p>Item {{item.product_name}} was added to your cart.</p>
        </div>
      </section>

      {% include 'footer.twig' %}